/*Copied to schedule-detail.component.css */

#name { width:320px; }

.schedule-mode-config {
    max-width: 670px;
    margin-left: 10px;
}

#manual {
    display: block;
    max-width: 670px;
    padding: 5px;
}

#definition {
    border: none;
	box-shadow:none;
    width: 100%;
    height: 5em;
}

#validation {
    padding: 10px;
    text-align: center;
    border: solid thin rgba(0, 0, 0, 0.12);
    color: rgb(255, 100, 100);
    background-color: white;
}

h3 {
    margin: 10px 0px 10px 0px;
    color: #607d8b;
}

.schedule-mode {
    margin-top: 20px;
    margin-bottom: 10px;
}

#date-recurrence, #days-of-week {
    margin-left: 10px;
}

#selection-rendering {
    padding: 10px;
    text-align: center;
    border: solid thin rgba(0, 0, 0, 0.12);
    background-color: white;
}