/*Copied to schedule-detail.component.css */

.schedule-mode-config {
    display: block;
    max-width: 660px;
    border: solid thin rgba(0, 0, 0, 0.12);
    background-color: white;
    box-shadow: 0 5px 3px -3px #888;
    margin-left: 10px;
}

#manual {
    display: block;
    max-width: 650px;
    padding: 5px;
}

#definition {
    border: none;
    width: 100%;
    height: 5em;
}

#validation {
    padding: 10px;
    text-align: center;
    border: solid thin rgba(0, 0, 0, 0.12);
    color: Salmon;
}

h3 {
    margin: 10px 0px 10px 0px;
    color: #607d8b;
}

.schedule-mode {
    margin-top: 20px;
    margin-bottom: 10px;
}

#date-recurrence, #days-of-week {
    margin-left: 10px;
}

#selection-rendering {
    padding: 10px;
    text-align: center;
    border: solid thin rgba(0, 0, 0, 0.12);
}