/* Copied to script-detail.component.css */

#name { width:320px; }

#definition {
    padding: 5px;
    white-space: pre-wrap;
}

#validation {
    padding: 10px;
    text-align: center;
    border: solid thin rgba(0, 0, 0, 0.12);
    color: rgb(255, 100, 100);
    background-color: white;
}
