/* Copied to script-detail.component.css */

.definition-panel {
    display: block;
    max-width: 670px;
    margin-left: 10px;
    padding: 5px;
}

#definition {
    margin: 10px;
    border: none;
    padding: 5px;
}

#validation {
    padding: 10px;
    text-align: center;
    border: solid thin rgba(0, 0, 0, 0.12);
    color: rgb(255, 100, 100);
    background-color: white;
}
