<div id="actions-bar" class="fixed-height">
  <a class="actions-breadcrumb" routerLink="/scripts">Scripts</a> > {{ script.name }}
  <span *ngIf="!isRenaming && !isDeleting">
    <a class="actions-link" routerLink="/script-edit/{{originalEncodedName}}">Edit</a>
    <button class="actions-button" (click)="startRename()">Rename</button>
    <button class="actions-button" (click)="startDelete()">Delete</button>
  </span>
  <span *ngIf="isRenaming"> > Rename
    <button class="actions-button" (click)="saveRename()">Save</button>
    <button class="actions-button" (click)="cancelRename()">Cancel</button>
  </span>
  <span *ngIf="isDeleting"> > Delete?
    <button class="actions-button" (click)="doDelete()">Confirm</button>
    <button class="actions-button" (click)="cancelDelete()">Cancel</button>
  </span>
</div>

<div class="fixed-height">
  <div class="margined">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="script.name" [readonly]="!isRenaming" [ngClass]="!isRenaming?'read-only':''">
  </div>
  <div class="margined">
    Definition
  </div>
</div>

<textarea id="definition" [(ngModel)]="script.body" placeholder="Definition" readonly="true" class="flex-height read-only margined" wrap="off"></textarea>
