<div id="actions-bar">Schedules
<!--
-->
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<div class="schedule-container">
  
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let schedule"><a routerLink="/schedule-detail/{{schedule.name}}"> {{schedule.name}} </a></mat-cell>
    </ng-container>

    <!-- Definition Column -->
    <ng-container matColumnDef="body">
      <mat-header-cell *matHeaderCellDef> Definition </mat-header-cell>
      <mat-cell *matCellDef="let schedule"> {{schedule.body}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div>
  <p></p>
  <label>Schedule name:
    <input #scheduleName />
  </label>
  <p>
  <label>Schedule body:
    <input #scheduleBody />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(scheduleName.value, scheduleBody.value); scheduleName.value=''; scheduleBody.value=''">
    add
  </button>
</div>