/* SchedulesComponent's private CSS styles */

#schedules tbody.grid-content { height:300px; }
#schedules th.name, #schedules td.name { width:180px; }
#schedules th.body, #schedules td.body { width:320px; }
