<div class="fixed-height controls">
  <div>
    <label for="status-time">Status as of</label>
    <input type="text" id="status-time" readonly="true">
  </div>

  <div>
    <label for="service-status">Service Status</label>
    <input type="text" id="service-status" readonly="true">
    <button>Stop</button>
  </div>

  <div>
    <label for="manager-status">Manager Status</label>
    <input type="text" id="manager-status" readonly="true">
    <button>Start</button>
    <button>Stop</button>
  </div>

  <div>
    <label for="manager-status">Database Schema</label>
    <input type="text" id="database-schema" readonly="true">
    <button>Create</button>
    <button>Delete</button>
  </div>
</div>

<div class="flex-height sequence">
  <div class="stack centered">
    <div class="fixed-height">Running Jobs</div>
    <div class="flex-height">
      <table class="grid">
        <thead>
          <tr>
            <th class="run-id">Run ID</th>
            <th class="job-name">Job Name</th>
            <th class="start-time">Start Time</th>
            <th class="elapsed">Elapsed</th>
            <th class="job-action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let run of runningJobs">
            <td><div class="run-id">{{run.runId}}</div></td>
            <td><div class="job-name">{{run.jobName}}</div></td>
            <td><div class="start-time">{{formatDateTime(run.state.startTime)}}</div></td>
            <td><div class="elapsed">{{formatElapsed(run.state.startTime)}}</div></td>
            <td><div class="job-action">Stop</div></td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>

  <div class="stack centered">
    <div class="fixed-height">Running Schedules</div>
    <div class="flex-height">
      <table class="grid">
        <thead>
          <tr>
            <th class="schedule-name">Schedule Name</th>
            <th class="schedule-name">Next Run</th>
            <th class="schedule-name">Time Remaining</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let scheduleWithState of runningSchedulesWithStates">
            <td><div class="schedule-name">{{scheduleWithState.name}}</div></td>
            <td><div class="schedule-name">{{formatDateTime(scheduleWithState.state.nextJobTime)}}</div></td>
            <td><div class="schedule-name">{{formatRemaining(scheduleWithState.state.nextJobTime)}}</div></td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
</div>
