<div id="actions-bar">Jobs
  <input type="text" class="actions-filter" (keyup)="setFilter($event.target.value)" placeholder="Enter filter value">
  <a class="actions-link" routerLink="/job-edit">Create Job</a>
</div>

<div class="horizontal-scrollable">
  <table class="grid" id="jobs" class="margined">
    <thead class="grid-header">
      <tr *ngIf="0 < maxArguments">
        <th colspan="4"></th>
        <th colspan="2" class="argument-number" *ngFor="let argumentNumber of getArgumentNumbers()">Argument {{argumentNumber + 1}}</th>
        <th class="scroll-bar-space"></th>
      </tr>
      <tr>
        <th class="name">Job Name</th>
        <th class="script">Script Name</th>
        <th class="schedules">Schedules</th>
        <th class="enabled">Enabled?</th>
        <ng-container *ngFor="let argumentNumber of getArgumentNumbers()">
          <th class="argument-name">Name</th>
          <th class="argument-value">Value</th>
        </ng-container>
        <th class="scroll-bar-space"></th>
      </tr>
    </thead>
    <tbody class="grid-content">
      <tr *ngFor="let jobWithName of jobsWithNames">
        <td><div class="name"><a routerLink="/job-detail/{{jobWithName.name}}">{{jobWithName.name}}</a></div></td>
        <td><div class="script"><a routerLink="/script-detail/{{jobWithName.job.scriptName}}">{{jobWithName.job.scriptName}}</a></div></td>
        <td><div class="schedules">
          <ng-container *ngFor="let scheduleName of jobWithName.job.scheduleNames; let i=index">
            <ng-container *ngIf="0 < i">, </ng-container>
            <a routerLink="/schedule-detail/{{scheduleName}}">{{scheduleName}}</a>
          </ng-container>
        </div></td>
        <td><div class="enabled">{{jobWithName.job.enabled?'Yes':'No'}}</div></td>
        <ng-container *ngFor="let argument of jobWithName.getArguments()">
          <td><div class="argument-name">{{argument.name}}</div></td>
          <td><div class="argument-value">{{argument.value}}</div></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
