#jobs th.argument-number { text-align: center; }
#jobs .name { max-width:300px; }
#jobs .script { max-width:300px; }
#jobs td.name:hover, #jobs td.script:hover { position: relative; left: .1em; background-color: lightcyan; }
#jobs .schedules { max-width:300px; }
#jobs .enabled { width:70px; }
#jobs .argument-name { max-width:135px; }
#jobs .argument-value { max-width:130px; }
