<div id="actions-bar">
  <a class="actions-breadcrumb" routerLink="/jobs">Jobs</a> > {{ name }}
  <span *ngIf="!isRenaming && !isDeleting">
    <button class="actions-button" (click)="run()">Run</button>
    <a class="actions-link" routerLink="/job-edit/{{name}}">Edit</a>
    <button class="actions-button" (click)="startRename()">Rename</button>
    <button class="actions-button" (click)="startDelete()">Delete</button>
  </span>
  <span *ngIf="isRenaming"> > Rename
    <button class="actions-button" (click)="saveRename()">Save</button>
    <button class="actions-button" (click)="cancelRename()">Cancel</button>
  </span>
  <span *ngIf="isDeleting"> > Delete?
    <button class="actions-button" (click)="doDelete()">Confirm</button>
    <button class="actions-button" (click)="cancelDelete()">Cancel</button>
  </span>
</div>

<div id="non-scrollable">
  <div class="margined">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="name" [readonly]="!isRenaming" [ngClass]="!isRenaming?'read-only':''">
  </div>

  <div class="margined">
    <label for="script-name">Script</label>
    <input type="text" id="script-name" [(ngModel)]="job.scriptName" readonly class="read-only">
  </div>

  <div class="margined">Runs</div>
</div>

<div class="horizontal-scrollable margined">
  <table class="grid" id="runs">
    <thead>
      <tr>
        <th class="run-id">Run ID</th>
        <th class="start-time">Start Time</th>
        <th class="end-time">End Time</th>
        <th class="duration">Duration</th>
        <th class="status">Status</th>
        <th class="message">Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let run of runs">
        <td><div class="run-id">{{run.runId}}</div></td>
        <td><div class="start-time">{{formatDateTime(run.state.startTime)}}</div></td>
        <td><div class="end-time">{{formatDateTime(run.state.endTime)}}</div></td>
        <td><div class="duration">{{formatDuration(run.state.startTime, run.state.endTime)}}</div></td>
        <td><div class="status">{{run.state.status}}</div></td>
        <td><div class="message">{{run.state.message}}</div></td>
      </tr>
    </tbody>
  </table>
</div>