#runs th.scroll-bar-space { width: 10px; }
#runs .run-id { width:55px; }
#runs .start-time, #runs .end-time { width:180px; }
#runs .duration { width:150px; }
#runs .status { width:140px; }
#runs .message { width:200px; }
