<div id="actions-bar">
  <a class="actions-breadcrumb" routerLink="/schedules">Schedules</a> > {{ schedule.name }}
  <span *ngIf="!isRenaming">
    <a class="actions-link" routerLink="/schedule-edit/{{schedule.name}}">Edit</a>
    <button class="actions-button" (click)="startRename()">Rename</button>
    <button class="actions-button" (click)="delete()">Delete</button>
  </span>
  <span *ngIf="isRenaming"> > Rename
    <button class="actions-button" (click)="saveRename()">Save</button>
    <button class="actions-button" (click)="cancelRename()">Cancel</button>
  </span>
</div>

<div id="work-area">
  <div class="margined">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="schedule.name" [readonly]="!isRenaming" [ngClass]="!isRenaming?'read-only':''">
  </div>

  <div class="margined">
    <span id="manual-schedule">Definition</span>
    <button style="visibility: hidden">Clear definition</button>
    <div id="manual" class="panel schedule-mode-config margined">
      <textarea id="definition" [(ngModel)]="schedule.body" placeholder="Definition" readonly="true" class="read-only"></textarea>
    </div>
  </div>
</div>