/* Duplicated from schedule-edit.component.css */

#name { width:320px; }

.schedule-mode-config {
    max-width: 670px;
    margin-left: 10px;
}

#manual {
    display: block;
    max-width: 670px;
    padding: 5px;
}

#definition {
    border: none;
	box-shadow:none;
    width: 100%;
    height: 5em;
}
