<div id="actions-bar" class="non-scrollable">Scripts
  <input type="text" class="actions-filter" (keyup)="setDirectory($event.target.value)" placeholder="Enter directory name">
  <input type="text" class="actions-filter" (keyup)="setFilter($event.target.value)" placeholder="Enter filter value">
  <a class="actions-link" routerLink="/script-edit">Create Script</a>
</div>

<div class="horizontal-scrollable">
  <table class="grid" id="scripts">
    <thead>
      <tr *ngIf="0 < maxParameters">
        <th colspan="2"></th>
        <th colspan="2" class="parameter-number" *ngFor="let parameterNumber of getParameterNumbers()">Parameter {{parameterNumber + 1}}</th>
      </tr>
      <tr>
        <th class="name">Name</th>
        <th class="valid">Valid?</th>
        <ng-container *ngFor="let parameterNumber of getParameterNumbers()">
          <th class="parameter-name">Name</th>
          <th class="parameter-type">Type</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let script of scripts">
        <td><div class="name"><a routerLink="/script-detail/{{getEncodedName(script.name)}}">{{script.name}}</a></div></td>
        <td><div class="valid">{{script.validation.valid?'Yes':'No'}}</div></td>
        <ng-container *ngFor="let parameter of getParameters(script.validation, maxParameters)">
          <td><div class="parameter-name">{{parameter.name}}</div></td>
          <td><div class="parameter-type">{{parameter.typeName}}</div></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
