<div id="actions-bar">Scripts
  <input type="text" class="actions-filter" (keyup)="setDirectory($event.target.value)" placeholder="Enter directory name">
  <input type="text" class="actions-filter" (keyup)="setFilter($event.target.value)" placeholder="Enter filter value">
  <a class="actions-link" routerLink="/script-edit">Create Script</a>
</div>

<div id="work-area">
  <table class="grid" id="scripts" class="margined">
    <thead class="grid-header">
      <tr *ngIf="0 < maxParameters">
        <th colspan="2"></th>
        <th colspan="2" class="parameter-number" *ngFor="let parameterNumber of getParameterNumbers()">Parameter {{parameterNumber + 1}}</th>
        <th class="scroll-bar-space"></th>
      </tr>
      <tr>
        <th class="name">Name</th>
        <th class="valid">Valid?</th>
        <ng-container *ngFor="let parameterNumber of getParameterNumbers()">
          <th class="parameter-name">Name</th>
          <th class="parameter-type">Type</th>
        </ng-container>
        <th class="scroll-bar-space"></th>
      </tr>
    </thead>
    <tbody class="grid-content">
      <tr *ngFor="let script of scripts">
        <td class="name"><a routerLink="/script-detail/{{getEncodedName(script.name)}}">{{script.name}}</a></td>
        <td class="valid">{{script.validation.valid?'Yes':'No'}}</td>
        <ng-container *ngFor="let parameter of script.validation.parameters">
          <td class="parameter-name">{{parameter.name}}</td>
          <td class="parameter-type">{{parameter.typeName}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
