#scripts tbody.grid-content { height:600px; }
#scripts th.parameter-number { text-align: center; }
#scripts th.scroll-bar-space { width: 10px; }
#scripts th.name, #scripts td.name { width:180px; }
#scripts td.name:hover { position: relative; left: .1em; background-color: lightcyan; }
#scripts th.valid, #scripts td.valid { width:50px; }
#scripts th.parameter-name, #scripts td.parameter-name { width:100px; }
#scripts th.parameter-type, #scripts td.parameter-type { width:80px; }
