/* MessagesComponent's private CSS styles */

#error-panel {
  height: 60px;
  background-color: LightYellow;
  overflow: auto;
  max-width: 690px;
}

#clear-button {
  float: right;
}

#messages {
  color: red;
}
