/* General styles */

body {
	font-family: Roboto, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0px;
}

button, div, input, select, textarea, a.actions-link {
	box-sizing: border-box;
}

a:visited {
	color: gray;
}

input[type=text], input[type=number], input[type=date], input[type=time], select {
	box-shadow: 0 2px 2px -1px #888;
	height: 20px;
}

input[type=number] {
	width: 5em;
}

div.margined {
    margin: 5px;
}

hr, textarea, input, select, button, a.actions-link {
	border-color: rgba(0, 0, 0, 0.12);
	border-width: 1px;
}

button, a.actions-link {
	border-radius: 4px;
}

button:hover, a.actions-link:hover  {
	background-color: lightcyan;
}

/* Specific areas of the page */

.app-title, #actions-bar, button, a.actions-link, a.actions-link:visited, .actions-breadcrumb, .actions-breadcrumb:visited, a {
	color: #607d8b;
}

#actions-bar {
	font-size: 1.3em;
	margin-left: 5px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    height: 30px;
}

.actions-breadcrumb {
	text-decoration: none;
}

.actions-breadcrumb:hover {
	text-decoration: underline;
}

a.actions-link {
	/* Make it look and behave like a button */
	text-decoration: none;
	font-size: 0.6em;
	border-style: solid;
	background-color: #eee;
	padding: 3px 5px;
}

.limited-width {
    max-width: 500px;
}

#work-area {
	background-color: #F3F3F3;
	height: 100vh;
	padding: 5px;
}

.panel {
    display: block;
	background-color: #FDFDFD;
    border: solid thin rgba(0, 0, 0, 0.12);
	box-shadow: 0 5px 3px -3px #888;
}

/* Tables */

.grid {
    border: thin solid rgba(0, 0, 0, 0.12);
    border-collapse: collapse;
}

thead.grid-header {
    display: block;
}

thead.grid-header th {
    color: white;
	background-color: #607d8b;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

tbody.grid-content {
	display: block;
	overflow: auto;
}

tbody.grid-content td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
