/* You can add global styles to this file, and also import other style files */

body {
	font-family: Roboto, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0px;
}

/*.app-title, #actions-bar, .actions-button {*/
.app-title, #actions-bar, button {
		color: #607d8b;
}

#actions-bar {
	font-size: 1.3em;
	margin-left: 5px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    height: 30px;
}

a.actions-link {
    font-size: 0.7em;
}

.limited-width {
    max-width: 500px;
}

hr, .actions-filter, .actions-button, textarea, input, select, button {
    border-color: rgba(0, 0, 0, 0.12);
}

button {
	border-radius: 4px;
}

/*.actions-button:hover {*/
button:hover {
		background-color: lightcyan;
}

/*hr {
	margin: 5px;
}*/

#work-area {
	background-color: #f0F5F5;
	height: 100vh;
	padding: 5px;
}

div.margined {
    margin: 5px;
}

/* Tables */

.grid {
    border: thin solid rgba(0, 0, 0, 0.12);
    border-collapse: collapse;
}

thead.grid-header {
    display: block;
}

thead.grid-header th {
    color: white;
	background-color: #607d8b;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

tbody.grid-content {
	display: block;
	overflow: auto;
}

tbody.grid-content td, tbody.grid-content td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
